/* font-family: 'VT323', monospace; */
@import url('https://fonts.googleapis.com/css?family=VT323');
@import url('https://fonts.https://fonts.googleapis.com/css2?family=Cousine&display=swap.com/css?family=VT323');

.header {
  display: none;
}

body {
  width: 10000px;
  font-family: 'VT323', monospace;
  color: #ffffff;
  background-color: #000000;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;

  margin-left: 180px;
  padding-right: 290px;
  z-index: 1;
}

.title {
  position: absolute;
  left: 0px;
  top: 600px;
  transform: rotate(270deg);

  z-index: -1;
}

.about-con {
  position: fixed;
  right: 0px;
  width: 330px;
  height: 100%;
  background-color: black;
}

.about {
  font-size: 17;
  position: fixed;
  right: 30px;
  top: 50px;
  width: 260px;
  background-color: black;
  
}

.about > p {
    display: flex;
    margin-block-start: 0 em;
}

a {
display: contents;
text-decoration: none;
color: gold;
}

#note {
  font-size: 30;
  opacity: 100%;
}

.poster:hover {
  opacity: 0.5;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 50px;
}

.poster:hover p {
  display: inline-block;
  /* // mix-blend-mode: difference; */
  
}

.poster {

  height: 100%;
  width: 100%;

  margin-left: 20px;
  margin-right: 20px;

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

}

p {
  display: none;
}

#blm {
  background-image: url(jpgs/blm_founders.jpg)    
}

#adam {
  background-image: url(jpgs/adam.jpg);
}

#hotgirls {
  background-image: url(jpgs/hotgirls.jpg);
}

#greetings {
  background-image: url(jpgs/greetings.jpg);
}

#amgoth {
  background-image: url(jpgs/americangothic.jpg);
}

#tarot {
  background-image: url(jpgs/tarot.jpg);
}

#hiker {
  background-image: url(jpgs/mountains.jpg);
}

#jungle {
  background-image: url(jpgs/junglebook.jpg);
}

#blackbirds {
  background-image: url(jpgs/blackbirds.jpg);
}

#justice {
  background-image: url(jpgs/tarot_cards_png.png);
}

#southasians {
  background-image: url(jpgs/southasiansforblmjpg.jpg);
}

@media only screen and (min-width:60em) {
  .mobile {
    display: none;
  }
  
  .mobile-title {
    display: none;
  }
}

/* mobile view */
/* make header texts fit in mobile view*/
@media only screen and (max-width:60em) {
  
  body {
    width: 100vw;
    height: 2000px;
    align-content: center;
    /* display: inherit; */
  }

  .mobile {
    text-align: center;
    padding-right: 35px;
  }

  .title {
    /* position: absolute; */
    /* top: 10px; */
    /* left: 10px; */
    display: absolute;
    position: unset;
    top: unset;
    left: unset;
    transform: unset;
    align-content: center;
    text-align: center;
    padding-right: 35px;
    /* transform: rotate(0deg); */
    /* z-index: -1; */
  }

  #titletext {
    display: none;
  }

  .content {

    width: 60vh;
    height: 2000px;
    display: absolute;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-between;
    overflow-x: hidden;

    margin-left: 0px;
    margin-right: 0px;

    align-content: center;
  }

  .poster {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;

    width: 90%;
    align-content: center;
  }

  #note {
    display: none;
  }

  .poster:hover {
    font-size: 20px;
  }

  .about-con {
    display: none;
  }

  .about {
    display: none;
  }

}
